body {
    font-family: serif;
    line-height: 1.6;
    background-image: url(img/bg8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.head{
    color: white;
    padding: 20px;
}

.head .title{
    margin-top: 0%;
    text-align: center;
    font-size: xx-large;
    border: yellow  ;
    padding: 0%;
    
}

.head p{
    font-size: large;
}


.accordion {
    max-width: 800px;
    margin: 20px;
    box-shadow: 0 2px 5px black;
    border: yellow ridge 5px;
    font-weight: 300;
    font-size: large;
    
}


.contentbox {
    border-top: 1px solid black;
}

.label {
    padding: 15px;
    background: black;
    color: white;
    cursor: pointer;
    position: relative;
    border: ridge yellow;
}

.label:hover {
    background-color: black;
}

.label::after {
    content: '\27B7'; 
    color: yellow;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    box-shadow: yellow;
}

.label.active::after {
    content: '\27B9'; 
}

.content {
    padding: 0 15px;
    background: yellow;
    display: none; /* Hide content initially */
    border: double black 10px;
    color: black ;
    font-weight: bold;
}

.content p {
    padding: 15px 0;
    margin: 0;
}


@media (max-width: 600px) {
    .accordion {
        width: 95%;
    }
}
