html, body {
    height: 100%;
    margin: 10;
    background-color: black;
    background-image: url(img/MainBackground.png) ;
    background-repeat: round;
    background-size: contain;
    background-attachment: fixed
    
  }
  .head{
    color: yellow;
    font-size: xx-large;
    padding: auto;
    margin: 20px;
    margin-top:120px;
    text-align: center;
    border: whitesmoke double;
    border-radius: 4px;

  }
 
   .form {
    background-color: black;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    color: antiquewhite;
    
  }
  
  .form h2 {
    color:antiquewhite
    margin 20px;

  }
  
  .form label {
    display: block;
    margin-top: 10px;
    color: yellow;
  }
  
  .form input[type="text"],
  .form input[type="tel"],
  .form input[type="url"]
   {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: yellow;
  
  }
  .form input[type="date"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    
  
  }
  .form input[type="radio"],
  .form input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .form button {
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .form button:hover {
    background-color: rgb(113, 113, 24);
  }
  
